@{
    ViewData["Title"] = "Results";
}
<div class="container">
    <h2>Results</h2>
    <h3>@ViewBag.StudentName</h3>
    <h3>@ViewBag.LetterGrade</h3>

    <a asp-action="Index" class="btn btn-success">Back to Home</a>
</div>